@font-face {
    font-family: "Roboto Mono";
    src:
        local("RobotoMono"),
        url("fonts/RobotoMono-Medium.ttf");
}

:root {
    --background: #0f0e17;
    --foreground: #fffffe;
    --maroon: #85144b;
    --red: #ff4136;
    --orange: #ff851b;
    --yellow: #ffdc00;
    --branch: 1px solid #a7a9be;
}

html {
    font-size: 18px;
    color: var(--foreground);
}

body {
    background: var(--background);
}


.navigation {
    #position: absolute;
    #top: 5%;
    #left: 1%;
    #max-width: 31%;
    width: 25%;
    float: left;
}
@media only screen and (max-width: 733px){
  .navigation {
    width: 100%;
  }
  .main {
    width: 100%;
  }
}
.main {
   #position: absolute;
   #top: 5%;
   #left: 34%;
   #max-width: 60%;
   width: 75%;
   float: left;
}
.prompt {
    font-family: var(--font);
    color: var(--foreground);
}

.prompt~.prompt {
    padding: 1.5rem 0 0.3125rem;
}

span {
    color: var(--maroon);
}

h1 {
    display: inline;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: normal;
    color: var(--red);
}

h2 {
    display: inline;
    font-family: var(--font);
    font-size: 0.9rem;
    font-weigth: normal;
    color: var(--orange);
}

.tree > ul {
    margin: 0;
    padding-left: 1rem;
}

ul {
    list-style: none;
    padding-left: 2.5rem;
}

li {
    position: relative;
}

li::before, li::after {
    content: "";
    position: absolute;
    left: -0.75rem;
}

li::before {
    border-top: var(--branch);
    top: 0.75rem;
    width: 0.5rem;
}

li::after {
    border-left: var(--branch);
    height: 100%;
    top: 0.25rem;
}

li:last-child::after {
    height: 0.5rem;
}

a {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--yellow);
    text-decoration: none;
    outline: none;
}

a:hover {
    color: var(--background);
    background: var(--orange);
}

form h1 {
    padding-left: 0.125rem;
}

input {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--foreground);
    background-color: var(--background);
    border: none;
}
